.App {
  text-align: center;
}
body{
  background-color: navy;
  color: white;
  font-size: 85%;
  font-family: 'poppins', sans-serif;
}

h1{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 5vh;
}

.video{
  position: relative;
  max-width: 100%;

}