.App {
  text-align: center;
}
body{
  background-color: navy;
  color: white;
  font-size: 85%;
  font-family: 'poppins', sans-serif;
}

h1{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 5vh;
}

.video{
  position: relative;
  max-width: 100%;

}
.pictureWrapper{
  background-color: dodgerblue;
  width: 50%;
  padding: 3%;
  margin: 5%;
  border-radius: 45px;
  border-bottom: 2px solid gold;
  border-top: 2px solid gold;
}
.caption{
  display: flex;
  justify-content: space-around;
}
.main{
  display: flex;
}
.desc{
  background-color: dodgerblue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  border-radius: 100%;
  border: 2px solid gold;
}

.desc p{
  padding: 10%;
  margin: 4%;
}

header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  color: navy;
  border-bottom: 2px solid gold;
}
.imgwrapper{
  width: 15%;
}
img{
  max-width: 100%;
}
nav{
  width: 20%;
  height: 100%;
  display: flex;
  align-items: bottom;
  justify-content: space-around;
  color: navy;
}
nav a:hover{
  color: gray;
  cursor: pointer;
}